<div class="sidebar close">
  <div class="logo-details">
    <label for="check">
  <input type="checkbox" id="check" class="bx-menu"/>
  <span></span>
  <span></span>
  <span></span>
</label>
<span class="logo_name">H2ade</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="https://www.haade.fr">
        <i class="iconify" data-icon="mdi:home-assistant"></i>
        <span class="link_name">Accueil</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Domotique</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class="iconify" data-icon="vaadin:automation"></i>
          <span class="link_name">Domotique</span>
        </a>
        <box-icon name="chevron-down" class="arrow" color='white' size='xs'></box-icon>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Domotique</a></li>
        <li><a href="#">Protocoles</a></li>
        <li><a href="#">Sécurité</a></li>
        <li><a href="#">Tutos Haade-lab</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='iconify' data-icon="ic:round-fiber-new" ></i>
        <span class="link_name">News</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">News</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='iconify' data-icon="fluent:production-checkmark-20-filled"></i>
        <span class="link_name">Tests</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Tests</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <box-icon name='cart-download' type='solid' animation='tada' color='white' ></box-icon>
          <span class="link_name">Boutique</span>
        </a>
        <box-icon name="chevron-down" class="arrow" color='white' size='xs'></box-icon>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Boutique</a></li>
        <li><a href="#">Marque</a></li>
        <li><a href="#">Protocole</a></li>
      </ul>
    </li>
    <li>
      <a href="../authors">
        <i class='iconify' data-icon='bx-bxs-user-circle'></i>
        <span class="link_name">Auteurs</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="../authors">Auteurs</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="iconify" data-icon="fluent:people-community-add-20-filled" ></i>
        <span class="link_name">Communauté</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Communauté</a></li>
      </ul>
    </li>
    <li>
  <div class="profile-details">
    <div class="profile-content">
      <img src="/assets/images/icon-admin.webp" alt="profileImg">
    </div>
    <div class="name-job">
      <div class="profile_name">Haade</div>
      <div class="job">Assistance Domotique</div>
    </div>
    <i class='bx bx-log-out' ></i>
  </div>
</li>
</ul>
</div>
